/* Navigation */
#navbar{
    flex-direction: column;
}

#navbar ul li {
    font-size: .9rem;
}

#logo img {
    width: 70px;
    height: 70px;
}

/* Home section */
#home{
height: 430px;
padding: 4px 33px;
}
#home::before{
height: 500px;
}
#home p{
    font-size: 0.8rem;
    }

/* Service Section */
#services{
    flex-direction: column;

}
/* client section */
#clients{
    flex-wrap: wrap;
}
#clients img{
    
    height: 4rem;
    
}


/* Contact Us section */
#contact-box form{
    width: 80%;
    
}

/* footer */

/* utility classes */
.h-primary{
    font-size:1.5rem;
}
.btn{
    padding: 7px 7px;
    border: 3px solid white;
    background-color: brown;
    color: white;
    margin: 16px;
    font-size: 0.7rem;
    border-radius: 12px;
}